.ticket-detail-content {
    position: absolute;
    bottom: 0;
    top: 0;
    margin-top: 60px !important;
    margin-bottom: 55px !important;
}
.ticket-detail-input {
    position: fixed;
    bottom: 0;
}
.ticket-detail-tag {
    color: #000;
    padding: 5px 10px;
    font-size: 18px;
}
.ticket-detail-bubble {
    background: #f2f5fb;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 10px 30px;
}
.ticket-detail-time {
    position: absolute;
}
.ticket-detail-controls {
    float: right;
    font-size: 18px;
}
